@namespace EcoMeal.client.Components.BusinessCard

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Business.Name</h5>
    <p class="card-text">@Business.Description</p>
    <p class="card-text">@Business.Address</p>
    <p class="card-text">@Business.Contact</p>
    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
</div>