@page "/business/{BusinessId:int}/addPackage"
@using EcoMeal.client.Models
@rendermode InteractiveServer

<h2>Adauga pachet</h2>

<EditForm Model="PackageAddModel" OnValidSubmit="AddPackageToBusiness">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label class="form-label">Nume</label>
    <InputText class="form-control mb-2" @bind-Value="PackageAddModel.Name" placeholder="Add package" />
    <ValidationMessage For="@(() => PackageAddModel.Name)" />

    <label class="form-label">Descriere</label>
    <InputTextArea class="form-control mb-2" @bind-Value="PackageAddModel.Description"
                   placeholder="Add description package" />

    <label class="form-label">Pret</label>
    <InputNumber class="form-control mb-2" @bind-Value="PackageAddModel.Price" placeholder="0" />

    <label class="form-label">Start Pick-up</label>
    <InputDate @bind-Value="PackageAddModel.StartPickUp" Type="InputDateType.DateTimeLocal" placeholder="Start Pick-up"
               class="form-control mb-2" />

    <label class="form-label">End Pick-up</label>
    <InputDate @bind-Value="PackageAddModel.EndPickUp" Type="InputDateType.DateTimeLocal" placeholder="End Pick-up"
               class="form-control mb-2" />

    <label class="form-label">Tip pachet</label>
    <InputSelect @bind-Value="PackageAddModel.PackageTypeId" class="form-control mb-2">
        <option value="0" disabled>Alege tipul...</option>
        @* @foreach (var packageType in PackageTypes)
        {
            <option value="@packageType.Id">@packageType.Name</option>
        } *@
    </InputSelect>
    <button type="submit" class="btn btn-primary mt-3">Adaugă pachet</button>
</EditForm>