@namespace EcoMeal.client.Components.BusinessList
@using EcoMeal.client.Components.BusinessCard
@using EcoMeal.client.Models

@if (Businesses is null)
{
    <p>Loading...</p>
}
else if (Businesses.Count == 0)
{
    <p>No business found.</p>
}
else
{
    <div class="businessList">
        <div class="row g-4">
            @foreach (BusinessModel business in Businesses)
            {
                <div class="col-sm" @key="business.BusinessId">
                    <BusinessCard Business="business" OnDeleted="HandleBusinessDeleted" />
                </div>
            }
        </div>
    </div>
}